{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Products{% endblock %}

{% block content %}

<div class="row mx-auto main-container products-cont">
    <div class="col-12 col-lg-8 mx-auto">
        <h1 class="page-title">Food! </h1>
        <hr class="page-title-hr">
        <div class="row text-center mt-3 mb-2">
            <div class="col-12 col-md-6">
                <!-- Catagory selector buttons -->
                               
                <table>
                {% for product in product %}
                <tr>
                    <td> {{product.name}} </td>
                    <td> {{product.description }} </td>
                    <td> {{product.size }} </td>
                    <td> {{product.image }} </td>

                </tr>

                </table>              
                {% endfor %}
                <a href="{% url 'product_details' %}" Add a Product></a>
        
        </div>
    </div>
</div>

{% endblock %}